@{
    ViewBag.Title = "Server Control";
}


<!-- Start Services 
============================================= -->
<div id="services" class="services-area bg-theme-small default-padding bottom-less">
    <div class="container">
        <div class="row">
            <a class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h2>Server Control</h2>
                    <p>
                        Customize Website Features
                    </p>
                </div>
            </a>
        </div>
        <div class="services-box text-center">
            <div class="row">
                <!-- Single Item -->
                <a class="col-lg-6 col-md-6 single-item" asp-controller="Admin" asp-action="ControlServer"> 
                    <div class="item">
                        <i class="flaticon-scroll"></i>
                        <h5>Servers Control</h5>
                        <p>
                            Add, Update and Delete Servers
                        </p>
                    </div>
                </a>
                <!-- End Single Item -->
                <!-- Single Item -->
                <a class="col-lg-6 col-md-6 single-item" asp-controller="Admin" asp-action="ControlUser">
                    <div class="item">
                        <i class="flaticon-feature"></i>
                        <h5>Users Control</h5>
                        <p>
                            Change Previligies For Users
                        </p>
                    </div>
                </a>
                <!-- End Single Item -->
                @*<!-- Single Item -->
                <div class="col-lg-3 col-md-6 single-item">
                    <div class="item">
                        <i class="flaticon-intersect"></i>
                        <h5>App integration</h5>
                        <p>
                            Pianoforte principles our unaffected not for astonished. 
                        </p>
                    </div>
                </div>*@
                <!-- End Single Item -->
                @*<!-- Single Item -->
                <div class="col-lg-3 col-md-6 single-item">
                    <div class="item">
                        <i class="flaticon-intersection"></i>
                        <h5>Color Schemes</h5>
                        <p>
                            Pianoforte principles our unaffected not for astonished. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-3 col-md-6 single-item">
                    <div class="item">
                        <i class="flaticon-resolution"></i>
                        <h5>High Resolution</h5>
                        <p>
                            Pianoforte principles our unaffected not for astonished. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-3 col-md-6 single-item">
                    <div class="item">
                        <i class="flaticon-showcase"></i>
                        <h5>Perfect Showcase</h5>
                        <p>
                            Pianoforte principles our unaffected not for astonished. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-3 col-md-6 single-item">
                    <div class="item">
                        <i class="flaticon-conversation"></i>
                        <h5>Helping Support</h5>
                        <p>
                            Pianoforte principles our unaffected not for astonished. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-3 col-md-6 single-item">
                    <div class="item">
                        <i class="flaticon-customer-support"></i>
                        <h5>Trusted Service</h5>
                        <p>
                            Pianoforte principles our unaffected not for astonished. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->*@
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
